.footer {
  text-transform: uppercase;
  background-color: @dark-color;
  color: @main-color;
  text-align: center;
  padding: 0 0 (@main-size*.8);
  font-size: 1.4em;
  &-links {
    box-shadow: 0 -2px 3px @main-color;
    background: @dark-color;
    font-size: @main-size - 2px;
    padding: (@main-size*2) 0;

    &__container {
      display: grid;
      .grid-colums(2);
      align-items: flex-start;
      justify-content: center;
      & ul {
        text-align: center;
        display: inherit;
        gap: @main-size * 0.2;
      }
      & a:hover {
        transition: @transition;
        color: @main-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 0 (@main-size/2);
    &-links {
      padding: @main-size/2;
      &__container {
        grid-template-columns: 1fr;
        padding: @main-size 0;
        & ul:first-child {
          margin-bottom: @main-size;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    padding: @main-size 0;
    &-links {
      margin-bottom: -6px;
    }
  }
}

