.news-cars {
  display: grid;
  .grid-colums(4);
  gap: @main-size;
  margin: (@main-size*.7) 0;
  text-align: center;

  &.med {
    .grid-colums(3);
  }

  &.med img {
    border-radius: 1.8em .3em;
  }
}

// cars != cards --> epic fail 😥 
.news-cards__image {
  width: 100%;
  filter: opacity(.85) grayscale(.4);
  border-radius: (@main-size * .3) @main-size;
  transition: @transition;

  &:hover {
    filter: opacity(1) grayscale(0);
  }
}

.news-cards__button {
  font-size: @light-color;
  padding: (@main-color/5) 0;
  color: #f5f5f2;
  text-transform: uppercase;

  &:hover {
    color: @main-color;
  }
}

@media screen and (max-width: 768px) {
  .news-cars {
    margin: @main-size (@main-size*2);
    .grid-colums(2);
    &.med {
      .grid-colums(2);
      grid-template-rows: 1fr;
      grid-auto-flow: row;
      & div:last-child {
        margin: 0 (@main-size*1.5);
        grid-column: 1 / -1;
        & img {
          height: 260px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .news-cars {
    .grid-colums(1);
    width: 80%;
    margin: @main-size auto;
    &.med {
      .grid-colums(1);
      & div:last-child {
        margin: @main-size auto;
        & img {
          height: auto;
        }
      }
    }
  }
}